Android/App/ParabolicFlightContest2013App/bin/*
Android/App/ParabolicFlightContest2013App/gen/*
Android/App/ParabolicFlightContest2013App/libs/armeabi/*
Iphone/ParabolicFlightContest2013.xcodeproj/project.xcworkspace/xcuserdata/*